<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MostViewVideo</title>
</head>
<body>
    <div id="app"></div>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react{{#production}}.min{{/production}}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom{{#production}}.min{{/production}}.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="most-view-video.1.0.0.js"></script>
</body>
</html>